.container {
  height: 80px;
  width: 100%;
  max-width: 1380px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;

  h1 {
    color: #0499dd;
    font-family: sans-serif;
  }
  a {
    text-decoration-color: black;
    color: #282828;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 30px;
  }
}

.container2 {
  height: 550px;
  width: 100%;
  width: 1380px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 0 10px;
  justify-content: center;

  .cards {
    width: 360px;
    height: 497px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url(/images/Rectangle\ 13.png);
  }

  .cards2 {
    width: 360px;
    height: 497px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url(/images/Rectangle\ 13\ \(1\).png);
  }
  p {
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    position: absolute;
    padding-top: 167px;
    padding-left: 20px;
  }

  .paragraph {
    padding-top: 189px;
    color: #ffc700;
    font-family: sans-serif;
    font-size: 19px;
    padding-left: 20px;
  }

  .img {
    margin-top: 240px;
    width: 20px;
    padding-left: 20px;
  }

  .spn {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 15px;
    opacity: 80%;
  }

  .coin {
    margin-top: 240px;
    width: 23px;
    padding-left: 20px;
    position: absolute;
  }

  .bolder {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 58px;
    opacity: 80%;
    font-weight: 400;
  }

  .paragraph2 {
    font-size: 15px;
    padding-top: 1px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph3 {
    font-size: 15px;
    padding-top: 20px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph4 {
    font-size: 15px;
    padding-top: 38px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph5 {
    font-size: 15px;
    padding-top: 58px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph6 {
    font-size: 15px;
    padding-top: 78px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph7 {
    font-size: 15px;
    padding-top: 98px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph8 {
    font-size: 15px;
    padding-top: 138px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .btn {
    width: 180px;
    height: 50px;
    border-radius: 40px;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
    font-family: sans-serif;
  }

  .cards3 {
    width: 360px;
    height: 497px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url(/images/Rectangle\ 13\ \(2\).png);
  }
}

.container3 {
    height: 150px;
    width: 100%;
    width: 1380px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

  .img2 {
    padding-right: 50px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    padding-top: 20px;
  }

  .img3 {
    padding-right: 50px;
    width: 100px;
    height: 100px;
    padding-top: 20px;
  }

  .line {
    width: 1050px;
    height: 30px;
    padding-top: 60px;
  }
}

   .container-footer {
    height: 640px;
    width: 100%;
    width: 1380px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;  
    background-color: blueviolet;
    background-image: url(/images/Rectangle\ 27.png);
    padding-left: 800px;
    width: 550px;


    .footer-img {
    width: 600px;
    backdrop-filter: blur(4px);
    }

    .footer-text {
    font-size: 35px;
    color: #fff;
    font-family: sans-serif;
    padding-left: 100px;
    margin-top: 70px;
    position: absolute;
    }

    .footer-text2 {
    color: #ffc700;
    font-family: sans-serif;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 85px;
    }

    .footer-text3 {
      padding-left: 100px;
      font-size: 20px;
      color: #fff;
      font-family: sans-serif;
      position: absolute;
    }

    .footer-img2 {
      padding-top: 45px;
      padding-left: 100px;
    }

    .footer-text4 {
      padding-left: 100px;
      font-size: 20px;
      color: #fff;
      font-family: sans-serif;
      position: absolute;
      padding-top: 30px;
    }

    .footer-img3 {
      padding-top: 75px;
      padding-left: 100px;
    }

    .footer-btn {
      width: 180px;
      height: 50px;
      border-radius: 40px;
      font-size: 17px;
      color: #fff;
      background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
      font-family: sans-serif;
      border: none;
      margin-left: 100px;
      margin-top: 80px;
    }
}

  .container-info {
    height: 240px;
    width: 100%;
    width: 1380px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;  
    gap: 20px;
    justify-content: center;

    .first-info-div  {
      width: 300px;
    }

    .info-parachute {
      height: 150px;
      padding-top: 30px;
    }

    p {
      font-size: 20px;
      opacity: 70%;
      font-family: sans-serif;
      margin-top: 40px;
    }

    .whats-up {
      padding-top: 40px;
      padding-left: 40px;
    }

    .number {
      font-size: 20px;
      font-family: sans-serif;
      opacity: 70%;
    }

    .telegram {
      padding-left: 40px;
    }

    .mail-info {
      padding-top: 40px;
      padding-left: 50px;
    }

    .email {
      opacity: 70%;
      font-size: 20px;
      position: absolute;
      padding-top: 37px;
      padding-left: 10px;
    }
    
    .inst-info {
     padding-left: 40px;
     position: absolute;
     padding-left: 50px;
    }

    .wk {
      position: absolute;
       padding-top: 7px;
       padding-left: 100px;
    }

    .facebook {
      padding-left: 150px;
    }
}
