.container {
  height: 80px;
  width: 100%;
  max-width: 1380px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;

  h1 {
    color: #0499dd;
    font-family: sans-serif;
  }
  a {
    text-decoration-color: black;
    color: #282828;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 30px;
  }
}

.container2 {
  height: 550px;
  width: 100%;
  width: 1380px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 0 10px;
  justify-content: center;

  .cards {
    width: 360px;
    height: 497px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url(/images/Rectangle\ 13.png);
  }

  .cards2 {
    width: 360px;
    height: 497px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url(/images/Rectangle\ 13\ \(1\).png);
  }
  p {
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    position: absolute;
    padding-top: 167px;
    padding-left: 20px;
  }

  .paragraph {
    padding-top: 189px;
    color: #ffc700;
    font-family: sans-serif;
    font-size: 19px;
    padding-left: 20px;
  }

  .img {
    margin-top: 240px;
    width: 20px;
    padding-left: 20px;
  }

  .spn {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 15px;
    opacity: 80%;
  }

  .coin {
    margin-top: 240px;
    width: 23px;
    padding-left: 20px;
    position: absolute;
  }

  .bolder {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 58px;
    opacity: 80%;
    font-weight: 400;
  }

  .paragraph2 {
    font-size: 15px;
    padding-top: 1px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph3 {
    font-size: 15px;
    padding-top: 20px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph4 {
    font-size: 15px;
    padding-top: 38px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph5 {
    font-size: 15px;
    padding-top: 58px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph6 {
    font-size: 15px;
    padding-top: 78px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph7 {
    font-size: 15px;
    padding-top: 98px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .paragraph8 {
    font-size: 15px;
    padding-top: 138px;
    font-family: sans-serif;
    padding-left: 20px;
  }

  .btn {
    width: 180px;
    height: 50px;
    border-radius: 40px;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
    font-family: sans-serif;
  }

  .cards3 {
    width: 360px;
    height: 497px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url(/images/Rectangle\ 13\ \(2\).png);
  }
}

.container3 {
  height: 150px;
  width: 100%;
  width: 1380px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
  .img2 {
    padding-right: 50px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    padding-top: 20px;
  }

  .img3 {
    padding-right: 50px;
    width: 100px;
    height: 100px;
    padding-top: 20px;
  }

  .line {
    width: 1050px;
    height: 30px;
    padding-top: 60px;
  }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






// Sarvar tjk scss iltimos tegmanglar uzgartirmanglar
.mee {
    margin: 20px 0px;

    .box {
        width: 50%;
    }

    .img__mee {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 749px;

        .img {
            height: 749px;

            img {
                border-top-right-radius: 12px;
                height: 88%;
            }
        }

        .text {
            position: relative;
            right: 150px;
            font-family: sans-serif;
            padding-top: 61px;
            padding-left: 85px;
            padding-right: 71px;
            padding-bottom: 105px;
            border-radius: 12px;
            width: 520px;
            height: 450px;
            background-color: #EDEDED;

            h1 {
                font-size: 24px;
                color: #0499DD;
            }

            p {
                font-weight: 300;
                line-height: 17.07px;
                margin-top: 30px;
                font-size: 14px;
                color: #282828;
            }
        }
    }

    .section2 {
        width: 75%;
        margin: auto;

        h1 {
            font-family: sans-serif;
            font-weight: 700;
            font-size: 24px;
            color: #0499DD;
        }

        .body__section2 {
            display: flex;
            justify-content: space-between;

            .box {
                width: 49%;
            }

            .card-body {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 60px;

                img {
                    width: 70px;
                    height: 60px;
                }

                .text-card {
                    font-family: sans-serif;

                    h1 {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 22px;
                        color: #0499DD;
                    }

                    p {
                        margin-top: 10px;
                        line-height: 17.07px;
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
            }
        }
        .section2__footer {
            text-align: center;
            margin: 50px 0px;
            justify-content: center;
            p {
                font-size: 14px;
                font-weight: 300;
                font-family: sans-serif;
            }

            button {
                margin-top: 20px;
                border: none;
                background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4 51%, #E55D87 100%);
                margin-top: 20px;                
                padding: 15px 45px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;
                box-shadow: 0 0 20px #eee;
                border-radius: 25px;
                i{
                    margin-left: 10px;
                }
            }
            button:hover {
                background-position: right center;
                /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .galareya{
        width: 75%;
        margin: auto;
        .title__galareya{
            margin-top: 100px;
            display: flex;
            justify-content: space-between;
            font-family: sans-serif;
            h1{
                font-size: 24px;
                color: #0499DD;
            }
            p{
                a{
                    color: #282828;
                    font-size: 14px;
                }
            }
        }
    }
    .img__galareya{
        width: 98%;
        margin:  0px auto;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        .box{
            width: 32.5%;
        }
        .box1{
            width: 37%;
            img{
                width: 100%;
            }
            .box1__down-card{
                width: 100%;
                height: 48%; 
                img{
                    width: 100%;
                    height: 100%;
                }   
            }
            .box2__down-card{
                width: 100%;
                height: 48%;
                display: flex;
                margin-top: 15px;
                justify-content: space-between;
                .down1__block{
                    width: 40%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .down2__block{
                    width: 55%;
                    height: 47%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    :last-child{
                        margin-top: 12px;
                    }
                }
            }
        }
        .box2{
            width: 27%;
            img{
                width: 100%;
                height: 98%;
            }
        }
        .box3{
            .cardOne{
                height: 48%;
                display: flex;
                justify-content: space-between;
                .box1{
                    width: 58%;

                }
                .box2{
                    height: 100%;
                    width: 38%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 90%;
                    }
                }
            }
            .cardTwo{
                width: 100%;
                height: 50%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

        }
    }
    .otzivi{
        margin-top: 100px;
        .title__otzivi{
            width: 75%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            font-family: sans-serif;
            h1{
                font-size: 24px;
                color: #0499DD;
            }
            p{
                a{
                    font-size: 14px;
                    font-weight: 300;
                    color: #282828;
                }
            }
        }
        .cards__otzivi{
            margin-top: 100px;
            width: 87.5%;
            margin: 100px 0px  0px auto;
            display: flex;
            justify-content: space-between;
            .box{
                font-family: sans-serif;
                height: 280px;
            }

            .boxOne{
                width: 60%;
                border-radius: 15px;
                background-color: #EDEDED;
                display: flex;
                justify-content: space-between;
                padding: 30px;
                .img__cardsOne{
                    width: 35%;
                    img{
                        border-radius: 15px;
                        width: 220px;
                        height: 220px;
                    }
                }
                .text__cardOne{

                    width: 58%;
                    h1{
                        font-family: sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 17px;
                        letter-spacing: 0em;
                        text-align: left;

                    }
                    p{
                        margin-top: 20px;
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
            }
            .boxTwo{
                width: 38.5%;
                display: flex;
                justify-content: space-between;
                border-radius: 15px;
                background-color: #EDEDED;
                padding-top: 30px;
                .img__cardsTwo{
                    width: 56%;
                    padding-left: 30px;
                    padding-bottom: 30px;
                    img{
                        border-radius: 15px;
                        width: 100%;
                        height: 100%;
                    }

                }
                .text__cardTwo{
                    width: 40%;
                    h1{
                        font-family: sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 17px;
                        letter-spacing: 0em;
                        text-align: left;

                    }
                    p{
                        margin-top: 20px;
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .footer__otzivi{
        position: relative;
        bottom: 55px;
        width: 87.5%;
        margin: 100px 0px  0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-icon{
            display: flex;
            :last-child{
                margin-left: 27px;
            }
        }
        .footer-lineyka{
            width: 87%;
            height: 1px;
            background-color: #D4D4D4;
            // position: relative;
            // bottom: 3px;
            .blue{
                width: 180px;
                height: 1.5px;
                background-color:#0499DD;;
            }
        }
    }
}